<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Queries untuk Implicit Intent Android 11+ -->
    <queries>

        <!-- Browser -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="https" />
        </intent>

        <!-- Google Maps -->
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="geo" />
        </intent>

        <!-- Dial Phone -->
        <intent>
            <action android:name="android.intent.action.DIAL" />
        </intent>

        <!-- Share Text -->
        <intent>
            <action android:name="android.intent.action.SEND" />
            <data android:mimeType="text/plain" />
        </intent>

        <!-- Camera -->
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>

        <!-- Gallery -->
        <intent>
            <action android:name="android.intent.action.GET_CONTENT" />
            <data android:mimeType="image/*" />
        </intent>

    </queries>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="BNI Mobile Banking"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Modul1"
        tools:targetApi="34">

        <!-- LOGIN -->
        <activity
            android:name=".LoginActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <!-- REGISTER -->
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />

        <!-- FORGOT PASSWORD -->
        <activity
            android:name=".ForgotPasswordActivity"
            android:exported="false" />

        <!-- RESET PASSWORD (FIREBASE) -->
        <activity
            android:name=".ResetPasswordActivity"
            android:exported="false" />

        <!-- HOME -->
        <activity
            android:name=".HomeActivity"
            android:exported="false" />

        <!-- DETAIL TRANSAKSI -->
        <activity
            android:name=".DetailActivity"
            android:exported="false" />

        <!-- FITUR BNI -->

        <activity
            android:name=".TransferActivity"
            android:exported="false" />

        <activity
            android:name=".QrisActivity"
            android:exported="false" />

        <activity
            android:name=".EwalletActivity"
            android:exported="false" />

        <activity
            android:name=".PembayaranActivity"
            android:exported="false" />

        <activity
            android:name=".PembelianActivity"
            android:exported="false" />

        <activity
            android:name=".MutasiActivity"
            android:exported="false" />

        <!-- PROFILE -->
        <activity
            android:name=".ProfileActivity"
            android:exported="false" />

        <!-- LAYANAN -->
        <activity
            android:name=".LayananActivity"
            android:exported="false" />

    </application>

</manifest>